@{
    ViewData["Title"] = "Home Page";
}

<link href="~/lib/datatables/css/datatables.bootstrap4.css" rel="stylesheet" />
<link href="~/lib/datatables/css/datatables.bootstrap4.min.css" rel="stylesheet" />

<div class="container">
    <h3 class="text-primary">Students Data</h3>
    <hr />

    <table id="Students" class="table table-striped table-bordered nowrap">
        <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Date of birth</th>
                <th>Actions</th>
            </tr>
        </thead>

    </table>
</div>


@section Scripts
{
    <script src="~/lib/datatables/js/jquery.datatables.js"></script>
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/lib/datatables/js/datatables.bootstrap4.js"></script>
    <script src="~/lib/datatables/js/datatables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables/js/studentsdatatable.js"></script>
}